__pycache__/f_ambient.cpython-313.pyc
__pycache__/f_BaseComponent.cpython-313.pyc
__pycache__/f_combustor.cpython-313.pyc
__pycache__/f_compressor.cpython-313.pyc
__pycache__/f_compressormap.cpython-313.pyc
__pycache__/f_control.cpython-313.pyc
__pycache__/f_duct.cpython-313.pyc
__pycache__/f_exhaust.cpython-313.pyc
__pycache__/f_fan.cpython-313.pyc
__pycache__/f_gaspath.cpython-313.pyc
__pycache__/f_global.cpython-313.pyc
__pycache__/f_inlet.cpython-313.pyc
__pycache__/f_map.cpython-313.pyc
__pycache__/f_shaft.cpython-313.pyc
__pycache__/f_system.cpython-313.pyc
__pycache__/f_turbine.cpython-313.pyc
__pycache__/f_turbinemap.cpython-313.pyc
__pycache__/f_TurboComponent.cpython-313.pyc
__pycache__/f_turbomap.cpython-313.pyc
__pycache__/f_utils.cpython-313.pyc
data/compContour.jpg
data/compSplit.jpg
data/TJET.csv
data/turbContour.jpg
data/turbSplit.jpg
doc/Build your own gas turbine performance model from scratch.pptx
doc/Map_sheets_v02.pptx
doc/Map_sheets.pptx
output/compressor1_map_dual.jpg
output/compressor1_map.jpg
output/desktop.ini
output/FAN_BST_map_core.jpg
output/FAN_BST_map_duct.jpg
output/HPC_map_dual.jpg
output/HPC_map.jpg
output/HPT_map_dual.jpg
output/HPT_map.jpg
output/LPT_map_dual.jpg
output/LPT_map.jpg
output/output.csv
output/turbine1_map_dual.jpg
output/turbine1_map.jpg
__pycache__/f_ambient.cpython-313.pyc
__pycache__/f_BaseComponent.cpython-313.pyc
__pycache__/f_combustor.cpython-313.pyc
__pycache__/f_compressor.cpython-313.pyc
__pycache__/f_control.cpython-313.pyc
__pycache__/f_duct.cpython-313.pyc
__pycache__/f_exhaust.cpython-313.pyc
__pycache__/f_gaspath.cpython-313.pyc
__pycache__/f_global.cpython-313.pyc
__pycache__/f_inlet.cpython-313.pyc
__pycache__/f_shaft.cpython-313.pyc
__pycache__/f_system.cpython-313.pyc
__pycache__/f_turbine.cpython-313.pyc
__pycache__/f_TurboComponent.cpython-313.pyc
__pycache__/f_utils.cpython-313.pyc
/__pycache__
class_diagram.py
classes_gsppysim.png
classes_GSPy.dot
classes_GSPy.png
classes_PSPy.png
diagram.dot
map.drawio
out.dot
output/class_inheritance_diagram_hierarchical.png
output/class_inheritance_diagram.png
/.env
